<h2>Список задач</h2>
{{#if todos.length}}
  <ul>
    {{#each todos}}
      <li class="todo">
        <form action="/completed" method="POST">
          <label>
            {{#if this.completed}}
              <input type="checkbox" checked>
              <span class="completed">{{this.title}}</span>
            {{else}}
              <input type="checkbox">
              <span>{{this.title}}</span>
            {{/if}}
            <input type="hidden" value="{{this.id}}" name="id">
            <button class="btn btn-small" type="submit">Сохранить</button>
          </label>
        </form>
      </li>
    {{/each}}
  </ul>
  <br>
  <br>
  <form action="/del_all" method="POST">
    <button id="btn_del_all" class="btn btn-small" type="submit">Удалить все</button>
  </form>
{{else}}
    <p>Задачи не найдены</p>
{{/if}}